.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;

    &:hover {
        cursor: pointer;
        background: rgba(22, 24, 35, 0.03);
    }

    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 12px;
    }

    .info {
        flex: 1;

        .name {
            font-size: 1.6rem;
            line-height: 22px;
            font-weight: 600;
            color: #161823;
        }

        .check {
            margin-left: 6px;
            color: rgb(32, 213, 236);
        }

        .username {
            color: rgba(22, 24, 35, 0.5);
            font-size: 1.4rem;
            line-height: 20px;
        }
    }
}
